#div {
  display: flex;
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'メイリオ', Meiryo,
    'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic';
}

#div label,
#background-tab {
  padding: 2px;
}

#background-tab {
  font-size: 16px;
}

#div label {
  margin-right: auto;
  margin-left: 100px;
}
